<section class="cards">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-3 mt-3">
          <div class="card-body">
            <i class="fa-solid fa-truck"></i>
            <h5 class="card-title">Free shipping</h5>
            <p class="card-text">Curabitur eget ligula nisl.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card p-3 mt-3">
          <div class="card-body">
            <i class="fa-solid fa-money-bill-wave"></i>
            <h5 class="card-title">60-day refund</h5>
            <p class="card-text">Curabitur eget ligula nisl.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card p-3 mt-3">
          <div class="card-body">
            <i class="fa-solid fa-life-ring"></i>
            <h5 class="card-title">24/7 support</h5>
            <p class="card-text">Curabitur eget ligula nisl.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
