<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h3>Lorem ipsum dolor sit amet</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>Quisque eget cursus purus</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>Etiam facilisis consequat</h3>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<style>
  .carousel-item {
    min-height: 300px;
    &:nth-child(1) {
      background-color: #59abe3;
    }
    &:nth-child(2) {
      background-color: #2ecc71;
    }
    &:nth-child(3) {
      background-color: #f89406;
    }
  }
</style>
