<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">LexShop</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#mobile-menu"
    aria-controls="mobile-menu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mobile-menu">
    <ul class="navbar-nav">
      <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Clothing</a
        >
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">1</a>
          <a href="#" class="dropdown-item">2</a>
          <a href="#" class="dropdown-item">3</a>
          <a href="#" class="dropdown-item">4</a>
        </div>
      </li>
      <li><a href="#" class="nav-link">Lingerie</a></li>
      <li><a href="#" class="nav-link">Shoes</a></li>
      <li><a href="#" class="nav-link">Accessories</a></li>
    </ul>
    <div class="btn-group ms-auto" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Cart</button>
      <button type="button" class="btn btn-secondary">Account</button>
    </div>
  </div>
</nav>
